.header {
    font-family: monospace;
    padding: 10px;
    color:aliceblue;
    background-color:gray;
}

.container {
    position: relative;
    overflow: hidden;
    width: 100%;
}
  
.disabled-link {
    pointer-events: none;
}