.header {
    font-family: monospace;
    padding: 10px;
    color:aliceblue;
    background-color:gray;
}

.container {
    position: relative;
    overflow: hidden;
    width: 100%;
}
  
.disabled-link {
    pointer-events: none;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}