.header {
    overflow: auto;
    display: block;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
    padding: 10px;
    color:aliceblue;
    background-color:gray;
}

.container {
    position: relative;
    overflow: hidden;
    width: 100%;
}
  
.disabled-link {
    pointer-events: none;
}